/* NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #272f3f;
  }
  
  body {
    padding-top: 56px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  label {
    font-weight: normal;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }


/*Aerolineas*/

h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272f3f;
  padding: 40px;
  ;width: 900px;
}

.form {
  width: 60%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea los elementos al centro */
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%; 
} 

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 5px; 
}

.image-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#labelImagen {
  display: inline-block;
  background-color: #434E5D;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#cargar {
  margin-top: 20px;
  background-color: #272f3f; 
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid ;
  border-radius: 50%;
}

.grid {
  width: 80%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  margin-top: 20px;
  background-color: white;
}

.button-group {
  display: flex;
  justify-content: space-between; 
}

#guardar {
  background-color: #00ff00;
}

#cancelar {
  background-color: red;
}
