/* NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #272f3f;
  }
  
  body {
    padding-top: 56px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  label {
    font-weight: normal;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  /*Facturación*/

h1 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
  }
  h2 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }
  h6 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .inputcompradeboletos {
    border: 2px solid #434E5D;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    background-color: #434E5D;
    color: white;
    border-radius: 20px;
  }
  input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .facturacion {
   
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #434E5D;
    color: white;
  }

  .container{
    background-color: #262f40;
  }

