/* NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #272f3f;
  }
  
  body {
    padding-top: 56px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  label {
    font-weight: normal;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }





  .form-group {
    margin: 10px;
  }
  
  input[type=text], input[type=number] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type=checkbox] {
    margin: 5px;
  }
  
  button {
    width: 100px;
    padding: 10px;
    background-color: #3CBC8D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2E8B57;
  }
  
