/* NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #272f3f;
  }
  
  body {
    padding-top: 56px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  label {
    font-weight: normal;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  


  /*Paises*/
  .container {
    display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272F3F;
  padding: 40px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.form {
    width: 90%;
    max-width: 550px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #272f3f;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;

}

input {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 8px;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #272f3f;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.image-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

}

#imagenVista {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 3px solid ; 



}

#labelImagen {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
   
}


#guardar {
  background-color: #272f3f;
}

#guardar:hover {
  background-color: #008800;
}

#borrar {
  background-color: #272f3f;
}

#borrar:hover {
  background-color: red;
}

#cerrar {
  background-color: #272f3f;
}

#cerrar:hover {
  background-color: #000088;
}

#labelImagen {
  background-color: #272f3f;
}

#labelImagen:hover {
  background-color: #ffa564;
}


