/* NavBar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #272f3f;
}

body {
  padding-top: 56px;
}

.container {
  margin-top: 20px;
}

.row {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

label {
  font-weight: normal;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}




body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 20px auto; 
  padding: 20px;
  background-color: #272F3F;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th, .data-table td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #434E5D;
  color: white;
}

button {
  width: 300px;
  padding: 10px;
  background-color: #434E5D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

button:hover {
  background-color: #ffa564;
}

.crearnuevo-button{
width: 100%;
  padding: 10px;
  background-color: #ffa564;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; 

}

.crearnuevo-button:hover{

  background-color: #ff8533; 
  color: #fff; 
  transform: scale(1.1); 
}


select {
  position: relative;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffa564;
  color: white;
  font-size: 16px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

select:hover {
  background-color: #ffa564;
}

select option {
  padding: 10px;
  background-color: #272F3F;
  color: white;
}

.action-cell {
  position: relative;
  display: flex;
  align-items: center;
}

.action-cell button {
  margin-right: 10px;

}

.action-cell select {
  width: 150px; /* Ajusta este valor para cambiar el tamaño del menú desplegable */
}
