/* NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #272f3f;
}

body {
    padding-top: 56px;
}

.container {
    margin-top: 20px;
}

.row {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

label {
    font-weight: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


/* HOMEPAGE */

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #272F3F;
  }
  
  .sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    background-color: #272F3F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 50px 10px rgba(255, 165, 100, 0.8);
    animation: pulse 1.5s infinite alternate; 
  }
  
  @keyframes pulse {
    to {
      box-shadow: 0 0 30px 3px rgba(255, 165, 100, 0.8);
    }
  }
    

  h3, h2{
    color: white;
    text-align: center;
  }
  
  