/* NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #272F3F;
    z-index: 1000; /* Ajusta el valor según sea necesario */
  }
  
  
  body {
    padding-top: 56px; 
  }
  
  .container {
    margin-top: 20px;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  label {
    font-weight: normal;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  

  /*Errores*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #272F3F;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.error-section {
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-size: 16px;
}

select,
input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #434E5D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ffa564;
}

.error-list-section {
    margin: 20px auto;
    max-width: 800px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white; /* Agregado borde a la tabla */
    margin-top: 20px;
}

.data-table th, .data-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #434E5D;
    color: white;
}

.data-table td:last-child {
    display: flex;
    justify-content: space-between;
}
