
/* Login */
.form-container {
  width: 350px;
  padding: 16px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0px 0px 10px 0px #272F3F;
  border-radius: 10px;
  position: relative;
}

.user-icon {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border: 2px solid #272F3F;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

.user-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-container {
  margin-bottom: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.submit-button {
  background-color: #272F3F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #8B9AA5;
  color: #ffffff; 
}
.forgot-password {
  text-align: center;
  margin-top: 16px;
}

.forgot-password a {
  color: #272F3F;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.login-body{
  background-color: #8B9AA5;
}

.rol{
  color: #000000; 
    font-weight: bold; 
    text-decoration: underline;
    color: #272F3F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
      text-align: center;
      margin-top: 50px;
    
}


/*NavBar*/

.navbar {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  background-color: #272F3F; 
}


body {
  padding-top: 56px; /* Adjusted for the fixed navbar height */
}



.container {
  margin-top: 20px;
}

.row {
  margin-bottom: 10px;
}

/* Adjust styles for checkboxes and labels */
input[type="checkbox"] {
  margin-right: 5px;
}

label {
  font-weight: normal;
}


body {
  font-family: Arial, sans-serif;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 106px; /* 56px (navbar height) + 50px (additional margin) */
}


.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}



.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.row .col {
  width: 20%; /* Adjust as needed, leaving a small gap between columns */
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.logout {
  background-color: #dc3545;
  margin-top: 10px;
}

.logout:hover {
  background-color: #b73340;
}
