/* NavBar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #272F3F;
  }
  
  body {
    padding-top: 56px; 
  }
  
  .container {
    margin-top: 20px;
  }
  
  .row {
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  label {
    font-weight: normal;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}





/**/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272F3F;
  padding: 40px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  font-size: 16px;
}

select,
input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3CBC8D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ffa564;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.toggle-group {
  display: flex;
  margin-bottom: 10px;
}

.toggle-group input,
.toggle-group label {
  margin-right: 10px;
}

.form-subgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-subgroup label {
  margin-bottom: 5px;
}

input[type=number] {
  width: 100%;
  padding: 5px;
  border: 1px solid white;
  border-radius: 4px;
}

/* Optional: Style for disabled inputs */
input:disabled {
  background-color: #555;
  opacity: 0.7;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.button-group {
    display: flex;
}

button {
    padding: 10px;
    background-color: #3CBC8D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ffa564;
}

